<main class="main">
  <section class="characters">
    <h3 class="characters__title">Personajes</h3>
    <ul class="characters__list js__charactersResultUl">

    </ul>
  </section>
  <aside class="favourites">
    <h3 class="favourites__title">Favoritos</h3>
    <ul class="favourites__list hidden js__charactersSelectedUl">

    </ul>

    <p class="favourites__text js__favouritesEmptyText">Selecciona tus personajes favoritos para que aparezcan en esta
      lista.
    </p>
    <button class="button js__deleteAllCharacters">
      <p class="deleteAll__text">Eliminar todos</p>
    </button>
    <button class="button js__log">LOG</button>
  </aside>
</main>